{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": ["error", "always"],
    "comma-spacing": ["error", { "before": false, "after": true }],				// {a,b,c} x {a, b, c} O
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],					// 쓸모없는 공간 x
    "prefer-template": ["error"],																					// 무조건 `` 템플릿으로 강제z
    "key-spacing": ["error"],																							// { a:1, b:2 } x { a: 1, b: 2 } O
    "object-curly-spacing": ["error", "always"],													// {a: 1 } x { a: 1 } o
    "quotes": ["error", "single", { "avoidEscape": true }],

    "react/react-in-jsx-scope": "off",

    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-unused-expressions": 2,
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ]
}